@model WebAppSistemaVeterinaria.Models.MascotaViewModel
@{
    ViewData["Title"] = "EditPet";
}


<h2>Editar mascota</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPet" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClienteId" />
            <input type="hidden" asp-for="ImageUrl" />

            <partial name="_Mascota"/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar a clientes</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:300px;max-width: 100%; height: auto;" />
        }
    </div>
</div>
